---
import Memorie from '../components/Memorie.astro';
import Line from './Line.astro';
import firstWeb from '../media/first_web.gif'
import sf from '../media/sf.png'
import manejaTuProyecto  from '../media/maneja_tu_proyecto_logo.png'
import harvard_memories from '../media/harvard-memories.png'
import devfunhome from '../media/devfun.png'
import airman from '../media/airman_logo.png'
import vetdata from "../media/vetdata.png"
import cs50thoughts from "../media/cs50thoughts.png"
import cienciadatospeludos from "../media/ciencia_datos_peludos.png"
import simpletodo from "../media/simple_todo.png"
import dailyadvice from "../media/daily_advice.png"
import biorescate from "../media/bio_rescate.png"
import SortButton from './SortButton.astro';
---

<div class="relative flex flex-col mt-3 dark:text-cuteWhite text-blackText max-h-max mb-10">
    <SortButton/>
    <Line height='h-20'/>
<div class="relative flex flex-col-reverse dark:text-cuteWhite text-blackText max-h-max" id="timeLine">
    <Memorie text_left="I still remember my first website like it was yesterday. It brings back so many memories from 2010. If I were to look at it now, I would say it looks like a crazy monkey put things here and there, but that's what made it so special to me. I was just a kid at the time, barely knowing any English or much about the web. But I'll never forget the feeling of typing in my first <head> and <body> tags." text_right="My first website may have had a disastrous layout - complete with a buggy, outdated lateral menu and a background featuring my favorite anime series from when I was a kid, but it is still filled with warm, wonderful memories. Despite the broken links and images, and unsightly blue font, I look back on it with fondness. It may not have been the most polished website, but it was mine." title='My First Web' cardImg={firstWeb} url={'https://maquicosas.es.tl/Home.htm'}/>
    <Line height='h-60'/>
    <Memorie text_left={`As the years passed, I decided to take web and software development more seriously. I enrolled in a national program focused on coding and software, and our first project was a group-based one. I took on the task of leading the group and working on the main layout, as well as the "ventas" section. I also created a full CRUD system in the backend. However, soon after I discovered that software development can be a true inferno. Despite the challenges, I was determined to push through and learn as much as I could.`} text_right={"As our group project progressed, things began to go wrong. The deadline for submission was approaching quickly and some members of the group failed to complete their assigned tasks, while others abandoned the project altogether. Conflicts on Git merges, which I was still learning to navigate, became a daily struggle. In the end, the project was only half-finished and die after Heroku free tier was gone. Nowadays, the web is plagued with bugs but I manage to revive it and put it online again.  Despite the challenges, I learned a lot from this experience. It helped me grow as a web developer and I gained valuable knowledge on how to handle difficult situations and collaborate with a team."} title='Sell In A Flash' cardImg={sf} url={'https://sell-in-a-flash-17dp.onrender.com/'} />
    <Line height='h-60'/>
    <Memorie text_left={`"Maneja tu Proyecto" Our second group-based project was unlike anything we had ever tackled before. As a web application, it offered a world of possibilities, where you could choose from three dynamic roles: admin, leader, or student. Each role was like unlocking a different door, revealing new pages and sections, waiting to be explored. Students, eager to dive in, scoured the platform for available projects, signing up and putting their skills to the test. Meanwhile, leaders took charge, creating projects with clear objectives, guiding their team to success and paving the way for new beginnings. And the admins, they held the key to this magical world, authorizing new students and leaders, approving projects and altering the state of a project. But the journey was not without its challenges.`} text_right={"Adversity struck when two members of our team faltered, leaving crucial work undone. To add to the chaos, my little brother was suddenly hospitalized with a strange illness. The project seemed doomed until a shining star emerged - my friend Hector. He courageously took on the backend, freeing me to concentrate on the front-end once my brother was on the mend. Together, we rose to the challenge and shouldered the responsibilities. Despite some bugs in the final version, we gave it our all and made it to the finish line. This experience taught me the true value of a supportive team. When you have workmates you can trust, anything becomes achievable."} title='Maneja Tu Proyecto' cardImg={manejaTuProyecto} url={'https://gestiona-tu-proyecto-frontend.onrender.com/'}/>
    <Line height='h-60'/>
    <Memorie text_left={`As you can see my previous projects have all been made with React, honed through my participation in the national program where React was emphasized. Although I value the experience, some subjects were covered too quickly and with inadequate instruction, leaving me with gaps in my understanding. We learned javascript for only 3 days before start using React. Undeterred, I embraced my lifelong passion for self-learning and took on the challenging CS50 course to deepen my foundational knowledge in computer science and fill in any missing pieces. This has allowed me to further solidify my skills and expand my horizons.`} text_right={"This page is the result of a passion project born from a weekend of creativity and coding. This website serves as a personal scrapbook, treasuring my favorite things about the CS50 course and showcasing my experiments with pure JavaScript. Featuring a home page, an about me section, a hobbies page, a playful fortune teller, and a productivity-boosting pomodoro timer, this website is a testament to my dedication and love for the art of coding."} title='Harvard Memories' cardImg={harvard_memories} url={'https://harvard-memories.vercel.app/'}/>
    <Line height='h-60'/>
    <Memorie text_left={`I immerse myself in the endless possibilities of coding every day. From CSS, JavaScript, and its frameworks, to DOM events, HTTP requests, and API REST, I am constantly seeking new knowledge and pushing the boundaries of my understanding. Even when faced with bugs and errors, I approach each challenge as an opportunity to dive deeper into the rabbit holes of information and find innovative solutions. Despite the frustration that comes with the coding journey, I am driven by my passion and the thrill of discovery. I am grateful for the joy that coding brings me, and I am excited to see where my love for this field will take me in the future.`} text_right={"DevTo Fun is a little web user interface with dark and white themes created with React, its Context API, and the style Components library where you can easily immerse yourself and discover the latest React posts and keep up with my own contributions on the Dev.to platform."} title='DevTo Fun' cardImg={devfunhome} url={'https://devto-fun-home.vercel.app/'}/>
    <Line height='h-60'/>
    <Memorie text_left={`On this one, I Join forces with my friends Omar and Erick on an e-commerce project! Presenting Airman - a place where you can explore the entire BestBuy catalog. Thanks to Airman you can interact with its open-testing API, and you have access to a world of endless possibilities. Browse through a multitude of categories, search for specific products, and get all the details you need on the product page. Want to make a purchase? Simply add your desired items to your cart, check the total amount and your discounts, and adjust your cart as needed. And here's the best part - you can do all of this without even creating an account. That's right, Airman has got your back with its safe and secure system that ensures that your items are always saved, even if you leave the page. So, come on and embark on an e-commerce adventure!`} text_right={"Making this project was so much more fun than the others my abilities were better than before and everyone in the group makes their part, at the end, we were so happy with the result, and I know there is space for improvement like a lateral cart menu, better forms or even has a true more complex backend! but I'm really happy with the result."} title='Airman Project' cardImg={airman} url={'https://airmanproject.vercel.app/'}/>
    <Line height='h-60'/>
    <Memorie text_left={`"Vet Análisis datos" is the result of my first paid work, a project that was forged from a chance meeting with a friend at a national program. My friend, a seasoned veterinarian and data scientist saw the spark in me and offered me the opportunity to embark on an incredible journey - to create a comprehensive data analysis course tailored specifically for veterinarians, in Spanish.
    We saw the need for quality educational resources in Spanish, and with a mission to fill that void, we set out to create a course that not only imparts knowledge but also inspires. With a beautiful user interface, an inviting home page, and a lateral menu that makes navigation a breeze, we designed the course to be both easy on the eyes and user-friendly. The page features a fully functional contact form, the ability to download files, and a video player for a dynamic learning experience.`} text_right={"By combining the latest technologies, such as React and Astro, we build the project in an interactive/static component-based architecture, with this we were able to create a page that loads quickly and provides a seamless experience. The lateral menu allows students to effortlessly jump from one chapter to the next with smooth animations, making it easier to follow the lessons and retain information. This project was more than just a paid job, it was an opportunity to make a difference in the lives of veterinarians and help them harness the power of data analysis. It was a challenge, but with determination and passion, we created something truly special."} title='Vet Análisis Datos' cardImg={vetdata} url={'https://vetanalisisdatos.com/'}/>
    <Line height='h-60'/>
    <Memorie text_left={`My latest project, CS50Thoughts is a dynamic platform where you can share your thoughts, opinions, and experiences about the beloved CS50 course. As you explore the thoughts and opinions of fellow CS50 students, you will see their perspectives as you express your own. With the ability to like or dislike the thoughts of others, you can easily see what resonates with you and what doesn't, knowing that you're not alone in your love or hate for this transformative course. With its mesmerizing neon aesthetic, stunning animations, and powerful filtering system, you can easily find and sort through thoughts based on likes, dislikes, upload date, overall feeling, and even the CS50 edition!.`} text_right={"With these two latest projects, I've gained immense confidence in my abilities as a developer. I tackled the challenge of creating a robust backend using Express and TypeScript, ensuring every request from the frontend was validated with a schema validation library. I put my creative thinking to the test by designing a comprehensive thought schema and utilizing Prisma to connect to a scalable database like PlanetScale. I also took the initiative to implement a cooldown system for likes and dislikes! to prevent abuse from users. Through it all, these projects have shown me just how far I've come and my growth and capabilities as a developer."} title='CS50Thoughts' cardImg={cs50thoughts} url={'https://cs50thoughts.vercel.app/'}/>
    <Line height='h-60'/>
    <Memorie text_left={`Embarking on my first venture into the world of data science and data analysis, I've chosed to delve into the 'The Best In Show: The Ultimate Data Dog' dataset. Through this project, my aim was to uncover fascinating insights about our most loyal companions. From the pursuit of identifying the most expensive dog breeds to delving into the intricate correlation between their sizes and lifespans, the meticulous journey of data exploration, thorough cleansing, systematic arrangement, and insightful transformation was an experience filled with both worth and enjoyment. The gratification derived from extracting these remarkable insights was only surpassed by the sheer delight found in the process itself!`} text_right={"As the culmination of the analysis approached, my favorite phase continued to be the realm of visualization. The creation of visuals that succinctly capture the data's narrative is undoubtedly an artistic pursuit. The journey of curating an interactive dashboard, showcasing the vital analysis insights, coupled with a mini machine learning model with  Gradio-based UI, was a truly captivating and rewarding experience."} title='Ciencia De Datos Con Peludos' cardImg={cienciadatospeludos} url={'https://ciencia-de-datos-con-peludos-dashboard.vercel.app/'}/>
    <Line height='h-60'/>
    <Memorie text_left={`A simple todo? yes, a simple one.`} text_right={"Hasn't every developer made one?"} title='Simple ToDo' cardImg={simpletodo} url={'https://simple-cool-todo.vercel.app/'}/>
    <Line height='h-60'/>
    <Memorie text_left={`A simple but lovingly designed website that offers personalized daily advice addressed to you by your name. Designed with a minimalist aesthetic and enriched with captivating animations. Built using cutting-edge technologies such as Next.js, Server-Side Rendering (SSR), and Incremental Static Regeneration (ISR)`} text_right={"SSR ensures that you can leave personalized advice for people with your name, and this advice is updated every time someone enters the page.Meanwhile, ISR enables a magical feature: when you receive advice using your name, it is shared with other people with the same name for the next 24 hours. This unique blend of ISR and SSR provides a way to save computing resources in the server while maintaining fast responses to the user when necessary."} title='Simple Daily Advice' cardImg={dailyadvice} url={'https://simple-daily-advice.vercel.app/'}/>
    <Line height='h-60'/>
    <Memorie text_left={`a demo website *Work in progress* dedicated to raising awareness and support for endangered species in the stunning landscapes of Latin America. With an elegant design that showcases a diverse range of endangered species through captivating visuals and informative content. Build on top of Next 13 with its app router`} text_right={"The site seamlessly integrates server-side rendering (SSR) and static site generation (SSG) for fast, responsive browsing. With an interactive map and technologies like SWR to load data when it's needed and keep everything up to date. And finally, secure login with any social network to access support and keep track of your sponsored animals in a nice lateral menu."} title='BioRescate' cardImg={biorescate} url={'https://eco-rescate.vercel.app/'}/>
</div>
</div>
<script>
    const observer = new IntersectionObserver ((entries) => {
        entries.forEach((entry) => {
           if(entry.isIntersecting){
                if(entry.target.classList.value.includes('left_text')) {
                    entry.target.classList.add('animate__animated', 'animate__fadeInLeft')
                }
                else if (entry.target.classList.value.includes('right_text')){
                    entry.target.classList.add('animate__animated', 'animate__fadeInRight')
                }
                else if (entry.target.classList.value.includes('line')){
                    entry.target.classList.add('animate__animated', 'animate__fadeInUp')
                }
                else{
                    entry.target.classList.add('slideInWithRotation')
                }
           }
           else{
            if(entry.target.classList.value.includes('left_text')) {
                    entry.target.classList.remove('animate__animated', 'animate__fadeInLeft')
                    entry.target.classList.add('hide')
                }
                else if (entry.target.classList.value.includes('right_text')){
                    entry.target.classList.remove('animate__animated', 'animate__fadeInRight')
                    entry.target.classList.add('hide')
                }
                else if (entry.target.classList.value.includes('line')){
                    entry.target.classList.remove('animate__animated', 'animate__fadeInUp')
                    entry.target.classList.add('hide')
                }
                else{
                    entry.target.classList.remove('slideInWithRotation')
                    entry.target.classList.add('hide')
                }
           }
        })
    })

    const hiddenElements = document.querySelectorAll('.hide');
    hiddenElements.forEach((element) => observer.observe(element));

    const projectCards = document.querySelectorAll('.center_card');
    projectCards.forEach((card) => card.addEventListener('animationend', () => {
            if(card.classList.contains('slideInWithRotation')){
                card.classList.remove('slideInWithRotation', 'hide')
            }
    }))
</script>